<p>На этой странице вы сможете оставить свои контакты для связи</p>

<form action="/contacts" method="POST" role="form">

  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" name="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Введите ваше сообщение: </label>
  <textarea class="form-control" name="textarea" rows="3"></textarea><br/>
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>

  </form>